    <div class="row">
        
        <form method="POST" action="/users/forget" class="content-wrapper mt-3" autocomplete="on">
            <h3 class="mt-4" style="font-family:'Aladin', cursive;font-size: xx-large;">Saj Jayana</h3>
            <h5 class="d-inline text-left">Reset Password</h5>
            <div class="form-group mt-4">
                <input type="text" class="form-control " placeholder="Your Email *" name="email" required/>
            </div>
            <%- include('messages'); %> 
            <div class="form-group mt-4 button-wrapper-right">
                <button type="submit" class="btn btn-dark px-5">Reset</button>
            </div>
            
        </form>
  
    </div>
