    <div class="row">
        
        <form method="POST" action="/users/reset" class="content-wrapper mt-3" autocomplete="off">
            
            <div class="form-group mt-4 button-wrapper-left" >
                <h5 class="d-inline">Reset Password</h5>
            </div>
       
            <div class="form-group mt-4">
                <label class="label float-left">New Password</label>
                <input type="text" class="d-none" value="<%= resetToken %> " name="reset_token" required/>
                <input type="password" class="form-control" name="new_password" />
            </div>
            <div class="form-group mt-2">
                <label class="label float-left">Conform Password</label>
                <input type="password" class="form-control" name="new_password_conformation" required/>
            </div>
            <%- include('messages'); %> 
            <div class="form-group mt-4 button-wrapper-right">
                <button type="submit" class="btn btn-dark px-5">Reset</button>
            </div>
            
        </form>
  
    </div>
