<%- include('partials/authNavbar'); -%> 

<!--body-->
	<div class="container">
		<div class="row">
		
		<div class="col-md-12 ">

			<%- include('partials/taskSection'); -%> 

		</div>	
	
		</div>



	</div>
	<footer id="footer" class="mt-4 py-5 text-white-50">
		<div class="text-center" style="color: #23272B;">
		  <medium>&copy;2023 Saj Jayana All Rights Reserved</medium>
		</div>
	  </footer>
	  
	  
	  