<%- include('./partials/navbar'); -%>
<div class="row" >
<div class="col-md-7">
          <%- include('./partials/loginSection');-%>
  </div>	

<div class="col-md-5">

<%- include('./partials/counterSection');-%>				
      
</div>
</div>