<%- include('./partials/navbar'); -%>
<div class="row align-items-center" >
<div class="col-md-7">
          <%- include('./partials/loginSection');-%>
  </div>	

<div class="col-md-5">

  <img class="img-responsive d-none d-xl-block d-xxl-none" src="img/loginGate.svg" width="100%">
      
</div>
</div>
<footer id="footer" class="mt-4 py-5 text-white-50">
  <div class="text-center" style="color: #333333;">
    <medium>&copy;2023 Saj Jayana All Rights Reserved</medium>
  </div>
</footer>