<%- include('./partials/navbar'); -%>

<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center ">
                    <h4 class="display-4 lh-4 mb-3" style="color: #2e2e2e;">
                        Tasks for Today to Next Steps
                    </h4>
                    <p class="lead fw-normal text-muted mb-5">unique lifestyle support application that involves daily practices of meditation, study, and community service.</p>
                    
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img src="img/taskCheckImg.svg" width="50%">
            </div>
     </div>
    </div>
</header>

<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">

            <div class="col-lg-6 text-center">
                <img src="img/profileAnlyzer.svg" width="80%">

            </div>

            <div class="col-lg-6">
                <div class="mb-5 mb-lg-0 text-center ">

                    <h4 class="display-4 lh-4 mb-3" style="color: #2e2e2e;">
                        Profilewise Activity nalyzer
                    </h4>
                    <p class="lead fw-normal text-muted mb-5">Mindful Living: Daily Activity Journal for Monks</p>

                  
                    
                </div>
            </div>

     </div>
    </div>
</header>

<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center ">
                    
                    <h4 class="display-4 lh-4 mb-3" style="color: #2e2e2e;">
                        Count Your Daily Activities
                    </h4>
                    <p class="lead fw-normal text-muted mb-5">Count Your Blessings, Count Your Tasks."</p>
                    
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <img src="img/countImg.svg" width="40%">    
            </div>
     </div>
    </div>
</header>

<footer id="footer" class="mt-4 py-5 text-white-50">
    <div class="text-center" style="color: #333333;">
      <medium>&copy;2023 Saj Jayana All Rights Reserved</medium>
    </div>
  </footer>